:root ._dsp-flex{display:flex;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._fd-row{flex-direction:row;}
:root ._jc-space-betwe3241{justify-content:space-between;}
:root ._ai-center{align-items:center;}
:root ._mb-var--space-40093{margin-bottom:var(--space-4);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._tt-var--f-tran1401504498{text-transform:var(--f-transform-9);}
:root ._ff-var--f-fami1299220{font-family:var(--f-family);}
:root ._fow-var--f-weig1244713033{font-weight:var(--f-weight-9);}
:root ._ls-var--f-lett938244495{letter-spacing:var(--f-letterSpacing-9);}
:root ._fos-var--f-size1236693{font-size:var(--f-size-9);}
:root ._lh-var--f-line1118832174{line-height:var(--f-lineHeight-9);}
:root ._col-var--color1281{color:var(--color);}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._whiteSpace-normal{white-space:normal;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._ai-stretch{align-items:stretch;}
:root ._fs-1{flex-shrink:1;}
:root ._fd-column{flex-direction:column;}
:root ._fg-1{flex-grow:1;}
:root ._tt-var--f-tran1401504560{text-transform:var(--f-transform-7);}
:root ._fow-var--f-weig1244712971{font-weight:var(--f-weight-7);}
:root ._ls-var--f-lett938244433{letter-spacing:var(--f-letterSpacing-7);}
:root ._fos-var--f-size1236631{font-size:var(--f-size-7);}
:root ._lh-var--f-line1118832112{line-height:var(--f-lineHeight-7);}
:root ._col-var--gray101281{color:var(--gray10);}
:root ._mb-var--space-40062{margin-bottom:var(--space-3);}
:root ._tt-var--f-tran1401504529{text-transform:var(--f-transform-8);}
:root ._fow-var--f-weig1244713002{font-weight:var(--f-weight-8);}
:root ._ls-var--f-lett938244464{letter-spacing:var(--f-letterSpacing-8);}
:root ._fos-var--f-size1236662{font-size:var(--f-size-8);}
:root ._lh-var--f-line1118832143{line-height:var(--f-lineHeight-8);}
:root ._fow-var--f-weig1244712878{font-weight:var(--f-weight-4);}
:root ._ls-var--f-lett938244340{letter-spacing:var(--f-letterSpacing-4);}
:root ._fos-var--f-size1236538{font-size:var(--f-size-4);}
:root ._lh-var--f-line1118832019{line-height:var(--f-lineHeight-4);}
:root ._pt-var--space-1255806259{padding-top:var(--space-true);}
:root ._pr-var--space-1255806259{padding-right:var(--space-true);}
:root ._pb-var--space-1255806259{padding-bottom:var(--space-true);}
:root ._pl-var--space-1255806259{padding-left:var(--space-true);}
:root ._fw-wrap{flex-wrap:wrap;}
:root ._gap-var--space-40031{gap:var(--space-2);}
:root ._gap-var--space-40093{gap:var(--space-4);}
:root ._gap-var--space-40062{gap:var(--space-3);}
:root ._pt-var--space-40031{padding-top:var(--space-2);}
:root ._pr-var--space-40031{padding-right:var(--space-2);}
:root ._pb-var--space-40031{padding-bottom:var(--space-2);}
:root ._pl-var--space-40031{padding-left:var(--space-2);}
:root ._bg-var--backgr1061458479{background-color:var(--backgroundHover);}
:root ._btlr-var--radius1236476{border-top-left-radius:var(--radius-2);}
:root ._btrr-var--radius1236476{border-top-right-radius:var(--radius-2);}
:root ._bbrr-var--radius1236476{border-bottom-right-radius:var(--radius-2);}
:root ._bblr-var--radius1236476{border-bottom-left-radius:var(--radius-2);}
:root ._fow-500{font-weight:500;}