:root ._dsp-flex{display:flex;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._fd-column{flex-direction:column;}
:root ._ai-center{align-items:center;}
:root ._gap-var--space-40031{gap:var(--space-2);}
:root ._pt-var--space-40031{padding-top:var(--space-2);}
:root ._pr-var--space-40031{padding-right:var(--space-2);}
:root ._pb-var--space-40031{padding-bottom:var(--space-2);}
:root ._pl-var--space-40031{padding-left:var(--space-2);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._tt-var--f-tran1401504529{text-transform:var(--f-transform-8);}
:root ._ff-var--f-fami1299220{font-family:var(--f-family);}
:root ._fow-var--f-weig1244713002{font-weight:var(--f-weight-8);}
:root ._ls-var--f-lett938244464{letter-spacing:var(--f-letterSpacing-8);}
:root ._fos-var--f-size1236662{font-size:var(--f-size-8);}
:root ._lh-var--f-line1118832143{line-height:var(--f-lineHeight-8);}
:root ._col-var--color1281{color:var(--color);}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._whiteSpace-normal{white-space:normal;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._ai-stretch{align-items:stretch;}
:root ._pt-var--space-40155{padding-top:var(--space-6);}
:root ._fs-1{flex-shrink:1;}
:root ._fg-1{flex-grow:1;}
:root ._tt-var--f-tran1401504560{text-transform:var(--f-transform-7);}
:root ._fow-var--f-weig1244712971{font-weight:var(--f-weight-7);}
:root ._ls-var--f-lett938244433{letter-spacing:var(--f-letterSpacing-7);}
:root ._fos-var--f-size1236631{font-size:var(--f-size-7);}
:root ._lh-var--f-line1118832112{line-height:var(--f-lineHeight-7);}
:root ._fow-300{font-weight:300;}
:root ._ls-var--f-lett938244340{letter-spacing:var(--f-letterSpacing-4);}
:root ._fos-var--f-size1236569{font-size:var(--f-size-5);}
:root ._lh-var--f-line1118832019{line-height:var(--f-lineHeight-4);}
:root ._fg-3{flex-grow:3;}
:root ._paddingEnd-var--space-40155{padding-end:var(--space-6);}
:root ._textWrap-stable{text-wrap:stable;}
:root ._btc-var--border1130566802{border-top-color:var(--borderColor);}
:root ._brc-var--border1130566802{border-right-color:var(--borderColor);}
:root ._bbc-var--border1130566802{border-bottom-color:var(--borderColor);}
:root ._blc-var--border1130566802{border-left-color:var(--borderColor);}
:root ._btw-0px{border-top-width:0px;}
:root ._brw-0px{border-right-width:0px;}
:root ._bbw-1px{border-bottom-width:1px;}
:root ._blw-0px{border-left-width:0px;}
:root ._h-0px{height:0px;}
:root ._mah-0px{max-height:0px;}
:root ._bbs-solid{border-bottom-style:solid;}
:root ._bts-solid{border-top-style:solid;}
:root ._bls-solid{border-left-style:solid;}
:root ._brs-solid{border-right-style:solid;}
:root ._transform-translateY-1736186894{transform:translateY(-0.5px);}
:root ._fow-var--f-weig1244712878{font-weight:var(--f-weight-4);}
:root ._fos-var--f-size1236538{font-size:var(--f-size-4);}